<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TodayExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TodayExampleWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE0CE7671E56C11200C04278</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE0CE77B1E56C11200C04278</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE0CE7861E56C11200C04278</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE0CE79C1E56C1E300C04278</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
